@import "../Variables/Variables.scss";

.card {
    width: 100%;
    min-height: 137px;
    background-color: $ligth-background;
    @include container-style(12px);
    display: flex;
    justify-content: space-between;
    padding: 24px;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__title {
        color: $main-blue;
        @include font(600);
        font-size: 20px;
        line-height: 24.2px;
    }

    &__details {
        display: flex;
        gap: 12px;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
    }

    &__salary {
        @include font(600);
    }

     &__place {
        @include font(400);
        font-size: 16px;
        line-height: 19px;
    }


    &__place::before {
        content: url(../../assets/location.svg);
        margin-right: 11.3px;
        position: relative;
        top: 2px;
    }

    &__button {
        @include button;
        background-image: url(../../assets/Empty-star.svg);
        width: 22px;
        height: 22px;
        align-self:flex-start;
        margin: 0;
    }

    &__button:hover {
        background-image: url(../../assets/Hover-star.svg);
    }

    &__button:active{
        background-image: url(../../assets/Filled-star.svg);
    }

    &__button_active{
        background-image: url(../../assets/Filled-star.svg);
    }


    li {
        list-style: none;
    }

    li::before {
        content: "\2022"; 
        color: $dark-gray;
        padding-right: 12px;
    }

    @media(max-width: 500px) {
        & {
            height: 180px;
            padding: 20px;
        }
        &__details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 12px;
        }

        &__title {
            font-size: 16px;
        }

        &__place {
            font-size: 14px;
        }
    }
}
