@import "../Variables/Variables.scss";

.v-details {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 51px;
    background-color: $main-background;
   

    &__wrapper {
            width: 773px;
    }

    @media (max-width: 800px) {
       & {
        padding-left: 20px;
        padding-right: 20px;
       }
    }
}

