@import "../Variables/Variables.scss";

.search-comp {
    width: 773px;
    display: flex;
    flex-direction: column;

    &__icon {
        background-image: url(../../assets/Search.svg);
        width: 12.57px;
        height: 12.57px;
        background-size: cover;
    }

    .mantine-Input-input {
        padding: 0 100px 0 30px;
        height: 48px;
        @include container-style(8px);
        cursor: pointer
    }

    .mantine-Input-input:focus,
    .mantine-Input-input:hover {
        border: 1px solid #5E96FC;
    }

    &__button {
        width: 83px;
        height: 32px;
        margin: 8px 12px 0 0;
        border-radius: 8px;
    }
}

@media (max-width: 800px) {
    .search-comp {
        width: 90vw;
        overflow: scroll;
    }
}




