.search-comp {
  width: 773px;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  height: auto;
}
.search-comp__icon {
  background-image: url(../../assets/Search.svg);
  width: 12.57px;
  height: 12.57px;
  background-size: cover;
}
.search-comp .mantine-Input-input {
  padding: 0 100px 0 30px;
  height: 48px;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.search-comp .mantine-Input-input:focus,
.search-comp .mantine-Input-input:hover {
  border: 1px solid #5E96FC;
}
.search-comp__button {
  height: 32px;
  margin: 8px 12px 0 0 !important;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .search-comp {
    width: 90%;
    overflow: scroll;
  }
}
