@import "../Variables/Variables.scss";

.search-comp {
    width: 773px;
    display: flex;
    flex-direction: column;

    &__icon {
        background-image: url(../../assets/Search.svg);
        width: 12.57px;
        height: 12.57px;
        background-size: cover;
    }

    .mantine-Input-input {
        padding-left: 30px;
        height: 48px;
        @include container-style(8px);
        cursor: pointer
    }

    .mantine-Input-input:focus,
    .mantine-Input-input:hover {
        border: 1px solid #5E96FC;
    }

    button {
        width: 83px;
        height: 32px;
        margin-right: 12px;
        margin-top: 8px;
        border-radius: 8px;
    }
}


