.search-comp {
  width: 773px;
  display: flex;
  flex-direction: column;
}
.search-comp__icon {
  background-image: url(../../assets/Search.svg);
  width: 12.57px;
  height: 12.57px;
  background-size: cover;
}
.search-comp .mantine-Input-input {
  padding: 0 100px 0 30px;
  height: 48px;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  cursor: pointer;
}
.search-comp .mantine-Input-input:focus,
.search-comp .mantine-Input-input:hover {
  border: 1px solid #5E96FC;
}
.search-comp button {
  width: 83px;
  height: 32px;
  margin: 8px 12px 0 0;
  border-radius: 8px;
}

@media (max-width: 720px) {
  .search-comp {
    width: 90vw;
    overflow: scroll;
  }
}
