@import "../Variables/Variables.scss";
.filter {
  width: 315px;
  height: 360px;
  background-color: $ligth-background;
  @include container-style(12px);
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__title {
    @include font(700);
    line-height: 20px;
    font-size: 20px;
    color: $black-font;
  }

  &__reset {
    @include font(500);
    font-size: 14px;
    line-height: 20px;
    color: $gray-font;
    border: none;
    background-color: transparent;
    margin-right: 21px;
    padding: 0;
    position: relative;

    &::after {
      content: url(../../assets/Close-icon.svg);
      margin-top: 3px;
      padding-left: 5px;
      position: absolute;
    }

    &:hover {
      color: $hover-blue;

      &::after {
        content: url(../../assets/CloseIconHover.svg);
      }
    }

    &:active {
      color: $main-blue;

      &::after {
        content: url(../../assets/CloseIconActive.svg);
      }
    }
  }

  &__input-groups {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include font(700);
    font-size: 16px;
    line-height: 19px;
    color: $black-font;
    margin-bottom: 8px;
  }

  &__number-input {
    position: relative;
    width: 100%;
  }

  &__number-inputs {
    button {
      width: 12px;
      height: 12px;
      @include button;

      &:nth-of-type(1) {
        background-image: url(../../assets/UpNumber.svg);
        top: 9px;
        right: 0;

        &:hover {
          background-image: url(../../assets/UpNumberHover.svg);
        }

        &:active {
          background-image: url(../../assets/UpNumberActive.svg);
        }
      }

      &:nth-of-type(2) {
        background-image: url(../../assets/DownNumber.svg);

        &:hover {
          background-image: url(../../assets/UpNumberHover.svg);
          transform: rotate(180deg);
        }

        &:active {
          background-image: url(../../assets/UpNumberActive.svg);
          transform: rotate(180deg);
        }
      }
    }

    &_buttons {
      width: 12px;
      height: 26px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      position: absolute;
      z-index: 2;
      right: 10px;
      top: 9px;
    }
  }

  &__submit-button {
    border-radius: 8px;
  }
}

.dropdown {
  background-image: url(../../assets/Dropdown.svg);
  width: 15px;
  height: 7px;
  background-size: cover;

  &_open {
    background-image: url(../../assets/DropdownUp.svg);
  }
}

.mantine-k3ov3c {
  gap: 8px !important;
}

@media (max-width: 360px) {
  .filter {
    width: 300px;
  }
}
