.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.empty__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.empty__title {
  font-style: normal;
  font-weight: 700;
  color: #343a40;
  size: 24px;
  line-height: 29.05px;
}
