//Colors
$main-background: #d3d7ea;
$ligth-background: #FFFFFF;
$main-blue: #5E96FC;
$gray-font: #ACADB9;
$black-font:#232134;
$hover-blue: #92C1FF;
$dark-gray: #7B7C88;

//Fonts
@mixin font($weight) {
  font-style: normal;
  font-weight: $weight;
}

@mixin container-style($radius) {
  border: 1px solid #EAEBED;
  border-radius: $radius;
}


@mixin button {
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}