//Colors
$main-background: #d3d7ea;
$ligth-background: #FFFFFF;
$main-blue: #5E96FC;
$gray-font: #ACADB9;
$black-font:#232134;
$hover-blue: #92C1FF;

//Fonts
@mixin font($weight) {
  font-style: normal;
  font-weight: $weight;
}

@mixin gradient-button {
  background: $gradient-button;
  color: #ffffff;
  @include font(600);
  border-radius: 10px;
  border: none;
}

@mixin card {
  padding: 30px;
  height: 450px;
  border-radius: 30px;
}