//Colors
$main-background: #d3d7ea;
$main-blue: #5E96FC;



//Fonts
@mixin font($weight) {
  font-style: normal;
  font-weight: $weight;
}

@mixin gradient-button {
  background: $gradient-button;
  color: #ffffff;
  @include font(600);
  border-radius: 10px;
  border: none;
}

@mixin card {
  padding: 30px;
  height: 450px;
  border-radius: 30px;
}