.card-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    max-width: 773px;
}

@media (max-width: 1154px) {
    .card-list {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 16px;
        max-width: 773px;
    }
}
