@import "../Variables/Variables.scss";

.header {
    background-color: #FFFFFF;
    padding: 0 10%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    &__content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 60px;
        @include font(400);
        font-size: 16px;
        line-height: 20px;

        a:hover {
            color: $main-blue;
         }

         &_active {
            color: $main-blue !important;
         }

    }

    &__logo {
        position: relative;

    &_title {
        font-family: 'poppins_blackregular';
        @include font(600);
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.02em;
     }

     &_title::before {
        content:url(../../assets/Logo.svg);
        position: absolute;
        top: 1px;
        left: -40px;
        width: 30px;
        height: 30px;
     }

    }

     a {
        color: #232134;
        cursor: pointer;
     }

}