.header {
  background-color: #FFFFFF;
  padding: 0 10%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.header__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.header__links a:hover {
  color: #5E96FC;
}
.header__links_active {
  color: #5E96FC !important;
}
.header__logo {
  position: relative;
}
.header__logo_title {
  font-family: "poppins_blackregular";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
}
.header__logo_title::before {
  content: url(../../assets/Logo.svg);
  position: absolute;
  top: 1px;
  left: -40px;
  width: 30px;
  height: 30px;
}
.header a {
  color: #232134;
  cursor: pointer;
}
