@import "../Variables/Variables.scss";

.header {
  background-color: #ffffff;
  padding: 0 12%;
  height: 84px;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-left: min(280px, 25%);
    width: 100%;
    height: 100%;
    gap: 60px;
    @include font(400);
    font-size: 16px;
    line-height: 20px;

    &_active {
      color: $main-blue !important;
      font-weight: 500 !important;
    }
  }

  &__logo {
    position: relative;

    &_title {
      font-family: "poppins_semibold";
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      display: flex;
      gap: 8px;

      img {
        width: 30px;
        height: 30px;
      }
    }

  }

  a {
    color: #232134;
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 0 4%;

    &__content {
      justify-content: space-between;
    }
  }
}
