@import "../Variables/Variables.scss";


.saved {
    padding-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: $main-background;

    &__wrapper {
        width: 773px;
        margin-bottom: 64px;
    }

    @media(max-width: 800px) {
        & {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

