.saved {
  padding-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saved__wrapper {
  width: 773px;
}
@media (max-width: 800px) {
  .saved {
    padding-left: 20px;
    padding-right: 20px;
  }
}
